.row {
  height: 50px;
  width: 50%;
  display: flex;
}

.cell {
  width: 50px;
  height: 100%;
  border: 1px black solid;
}

.filled {
  background: black;
  color: white;
}

.is-ship {
  background: green;
  color: white;
}

.is-not-ship {
  background: red;
  color: white;
}
