dialog::backdrop {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
}

main {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.row {
  height: 50px;
  display: flex;
}

.cell {
  width: 50px;
  height: 100%;
  border: 1px black solid;
}

.ship {
  background: blue;
  color: white;
}

.is-ship {
  background: green;
  color: white;
}

.is-not-ship {
  background: red;
  color: white;
}
